<html>
    <head>
        <script>

        </script>
        <link rel="icon" href="/frontend/favicon.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <title>Blue box</title>
        {% block head %}{% endblock %}
    </head>
    {% block body %}
    {% endblock %}
</html>

<style>
    * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
</style>