<html>
    <head>
        <script>

        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', path='favicon.png') }}" type="image/png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <title>Blue box</title>
        {% block head %}{% endblock %}
    </head>
    {% include  'reusable/navbar.html' %}
    {% block body %}
    {% endblock %}
</html>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>