{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='styles/index_styles.css') }}">
{% endblock %}
{% block body %}
<body>
    <div class="logo">
        <p class="russo-one-regular">BLUEBOX</p>
    </div>
    <div class="workday-info">
        <div class="username">Иван Иванов</div>
        <div class="today-date">01.01.2025</div>
    </div>
    <div class="partition">
        
    </div>
    <div class="menu">
        <p>menu</p>
    <ul class="dropdown-menu">
        <li><a href="#plan">План</a></li>
        <li><a href="#personnel">Персонал</a></li>
    </ul>
    </div>
</body>
{% endblock %}